---
import Skills from "./Skills.astro";
---

<div class="hero bg-transparent min-h-screen">
  <div class="hero-content md:grid md:grid-cols-2 max-md:flex-col gap-16 text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Full-Stack Software Developer</h1>
      <p class="py-6">
        I focus on building robust, scalable, and lightning-fast interfaces that delight users and deliver tangible
        results. If you're looking for a developer obsessed with crafting superior, high-performance web experiences,
        let's connect.
      </p>
      <a href="mailto:magnus@northtech.dk" class="btn btn-primary">Contact Me</a>
    </div>
    <Skills />
  </div>
</div>
