---
import BackEndSkills from "./BackEndSkills.astro";
import FrontEndSkills from "./FrontEndSkills.astro";
---

<section id="skill-list" class="container scroll-mt-20">
  <h2 class="max-lg:text-2xl text-3xl mb-8 font-bold text-center">Skills</h2>
  <div class="flex max-md:flex-col justify-center">
    <FrontEndSkills />
    <BackEndSkills />
  </div>
</section>
